<div class="mt-5 d-flex justify-content-center">
    <form class="form-signin mx-auto">
        <div class="text-center mb-4">
            <img class="mb-4" src="https://i.pinimg.com/originals/52/94/61/5294613079faa309389e8157dc49b4db.png" alt=""
                width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Login example</h1>
        </div>

        <div class="form-label-group">
            <input type="username" id="inputUser" class="form-control" placeholder="Username" required autofocus>
            <label for="inputEmail">Username</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me</label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
        <p class="mt-2">You are not registered? <a class="breadcrumb-item"><a href="register">Register here</a></a></p>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2022</p>
    </form>
</div>
<router-outlet></router-outlet>